<%= form_with(model: passagem, local: true) do |form| %>
  <% if passagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passagem.errors.count, "error") %> prohibited this passagem from being saved:</h2>

      <ul>
      <% passagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origem %>
    <%= form.text_field :origem %>
  </div>

  <div class="field">
    <%= form.label :destino %>
    <%= form.text_field :destino %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :dia %>
    <%= form.text_field :dia %>
  </div>

  <div class="field">
    <%= form.label :mes %>
    <%= form.text_field :mes %>
  </div>

  <div class="field">
    <%= form.label :ano %>
    <%= form.text_field :ano %>
  </div>

  <div class="field">
    <%= form.label :Aerotransporte_id %>
 <%= form.collection_select(:Aerotransporte_id, Aerotransporte.all, :id, :nome, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
