<p id="notice"><%= notice %></p>

<h1>Passagens</h1>

<table>
  <thead>
    <tr>
      <th>Origem</th>
      <th>Destino</th>
      <th>Preco</th>
      <th>Dia</th>
      <th>Mes</th>
      <th>Ano</th>
      <th>Aerotransporte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passagems.each do |passagem| %>
      <tr>
        <td><%= passagem.origem %></td>
        <td><%= passagem.destino %></td>
        <td><%= passagem.preco %></td>
        <td><%= passagem.dia %></td>
        <td><%= passagem.mes %></td>
        <td><%= passagem.ano %></td>
        <td><%= passagem.Aerotransporte.nome %></td>
        <td><%= link_to 'Show', passagem %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_passagem_path(passagem) %></td>
        <td><%= link_to 'Destroy', passagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in? %>
<%= link_to 'New Passagem', new_passagem_path %>
<%end%>