<p id="notice"><%= notice %></p>

<p>
  <strong>Origem:</strong>
  <%= @passagem.origem %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @passagem.destino %>
</p>
   <% if user_signed_in? || admin_signed_in?%>
   <%= button_to 'Add to cart', line_items_path(passagem_id: @passagem), class: 'button is-warning add-to-cart' %>
  
  <%end%>
<p>
  <strong>Preco:</strong>
  <%= @passagem.preco %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @passagem.dia %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @passagem.mes %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @passagem.ano %>
</p>

<p>
  <strong>Aerotransporte:</strong>
  <%= @passagem.Aerotransporte.nome %>
</p>

<%= link_to 'Edit', edit_passagem_path(@passagem) %> |
<%= link_to 'Back', passagems_path %>
