<%= form_with(model: aerotransporte, local: true) do |form| %>
  <% if aerotransporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aerotransporte.errors.count, "error") %> prohibited this aerotransporte from being saved:</h2>

      <ul>
      <% aerotransporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
