<% if admin_signed_in? %>
<h1>Editing Aerotransporte</h1>
<%= render 'form', aerotransporte: @aerotransporte %>

<%= link_to 'Show', @aerotransporte %> |
<%= link_to 'Back', aerotransportes_path %>
<%else%>
<h2><h2>Operacao somente permitida para administradores...</h2></h2>

<%end%>