<div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7">
            <h2 class="font-weight-light text-black text-center">Aerotransportes</h2>
          </div>
        </div>
<p id="notice"><%= notice %></p>

<!--<h1>Aerotransportes</h1>-->

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aerotransportes.each do |aerotransporte| %>
      <tr>
        <td><%= aerotransporte.nome %></td>
        <td><%= link_to 'Show', aerotransporte %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_aerotransporte_path(aerotransporte) %></td>
        <td><%= link_to 'Destroy', aerotransporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
<%= link_to 'New Aerotransporte', new_aerotransporte_path %>
<%end%>