<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aerotransporte.nome %>
</p>

<%= link_to 'Edit', edit_aerotransporte_path(@aerotransporte) %> |
<%= link_to 'Back', aerotransportes_path %>
