<div class="columns align-items-center">
  <div class="column is-1">
    <%= line_item.quantity %>
  </div>
    <div class="column is-9">
    <strong><%= line_item.passagem.destino %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(line_item.passagem.destino, length: 140) %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

<hr/ >